/* sticky footer */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-image: url("../images/snowy-mountain-peak-418626_dark.png");
    background-size: cover;
      
  }

  main {
    flex: 1 0 auto;
  }

  /* header text */ 
  #shouldISki {
      margin-top: 125px;
      margin-bottom: 75px;
      font-family: 'Lobster', cursive;
  }

  #resortInput {
      width: 200px;
  }

   .card {
    height: 150px;
    opacity: .8;
    border-radius: 10px;
  }

  h3 {
    font-size: min(max(16px, 4vw), 22px);
  }

  .twitter-tweet {
    margin: auto;
  }

  #searchButton {
    border-radius: 10px;
  }

  footer {
    margin: auto;
    width: 500px;
  }

  input {
    opacity: .8;
  }

  
  #weatherIcon {
    height: 75px;
  }