/* sticky footer */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-image: url("../images/snowy-mountain-peak-418626.jpg");
    background-size: cover;    
  }

  main {
    flex: 1 0 auto;
  }

  /* header text */
  #shouldISki {
      margin-top: 125px;
  }

  #resortInput {
      width: 200px;
  }

  .card {
    height: 200px;
    opacity: .8;
    border-radius: 10px;
  }

  #searchButton {
    border-radius: 10px;
  }

  footer {
    margin: auto;
    width: 500px;
  }

  input {
    opacity: .8;
  }

