/* sticky footer */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

  /* header text */
  #shouldISki {
      margin-top: 150px;
  }

  #resortInput {
      width: 200px;
  }

  .timeline-Widget {
    max-width: 1200px;
    background-color: #fff;
    border-radius: 5px;
    margin: 8%;
}